[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
matplotlib = "*"

[packages]
# The string PANDAS_VERSION is here as a placeholder
# to be replaced in the build process.
pandas = "==PANDAS_VERSION"

[requires]
# The string PYTHON_VERSION is here as a placeholder
# to be replaced in the build process.
python_version = "PYTHON_VERSION"
